library/Fisma/Inject/Nessus/grammar.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="NessusClientData_v2">
      <element name="Policy">
        <element name="policyName">
          <data type="NCName"/>
        </element>
        <element name="policyComments">
          <empty/>
        </element>
        <element name="Preferences">
          <element name="ServerPreferences">
            <oneOrMore>
              <element name="preference">
                <element name="name">
                  <data type="NCName"/>
                </element>
                <element name="value">
                  <text/>
                </element>
              </element>
            </oneOrMore>
          </element>
          <element name="PluginsPreferences">
            <oneOrMore>
              <element name="item">
                <element name="pluginName">
                  <text/>
                </element>
                <element name="pluginId">
                  <data type="integer"/>
                </element>
                <element name="fullName">
                  <text/>
                </element>
                <element name="preferenceName">
                  <text/>
                </element>
                <element name="preferenceType">
                  <data type="NCName"/>
                </element>
                <element name="preferenceValues">
                  <text/>
                </element>
                <element name="selectedValue">
                  <text/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </element>
        <element name="FamilySelection">
          <oneOrMore>
            <element name="FamilyItem">
              <element name="FamilyName">
                <text/>
              </element>
              <ref name="Status"/>
            </element>
          </oneOrMore>
        </element>
        <element name="IndividualPluginSelection">
          <zeroOrMore>
            <element name="PluginItem">
              <element name="PluginId">
                <data type="integer"/>
              </element>
              <element name="PluginName">
                <text/>
              </element>
              <element name="Family">
                <text/>
              </element>
              <ref name="Status"/>
            </element>
          </zeroOrMore>
        </element>
      </element>
      <element name="Report">
        <attribute name="name"/>
        <oneOrMore>
          <element name="ReportHost">
            <attribute name="name">
              <data type="NMTOKEN"/>
            </attribute>
            <element name="HostProperties">
              <zeroOrMore>
                <element name="tag">
                  <attribute name="name">
                    <data type="NCName"/>
                  </attribute>
                  <text/>
                </element>
              </zeroOrMore>
            </element>
            <oneOrMore>
              <element name="ReportItem">
                <attribute name="pluginFamily"/>
                <attribute name="pluginID">
                  <data type="integer"/>
                </attribute>
                <attribute name="pluginName"/>
                <attribute name="port">
                  <data type="integer"/>
                </attribute>
                <attribute name="protocol">
                  <data type="NCName"/>
                </attribute>
                <attribute name="severity">
                  <data type="integer"/>
                </attribute>
                <attribute name="svc_name"/>
                <optional>
                  <element name="vuln_publication_date">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="solution">
                    <text/>
                  </element>
                  <element name="risk_factor">
                    <data type="NCName"/>
                  </element>
                </optional>
                <optional>
                  <element name="description">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="plugin_publication_date">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="cvss_vector">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="synopsis">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="patch_publication_date">
                    <text/>
                  </element>
                </optional>
                <zeroOrMore>
                  <element name="see_also">
                    <text/>
                  </element>
                </zeroOrMore>
                <optional>
                  <element name="cvss_base_score">
                    <data type="decimal"/>
                  </element>
                </optional>
                <zeroOrMore>
                  <element name="cve">
                    <data type="NCName"/>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="bid">
                    <data type="integer"/>
                  </element>
                </zeroOrMore>
                <zeroOrMore>
                  <element name="xref">
                    <data type="NMTOKEN"/>
                  </element>
                </zeroOrMore>
                <optional>
                  <element name="plugin_output">
                    <text/>
                  </element>
                </optional>
                <optional>
                  <element name="plugin_version">
                    <text/>
                  </element>
                </optional>
              </element>
            </oneOrMore>
          </element>
        </oneOrMore>
      </element>
    </element>
  </start>
  <define name="Status">
    <element name="Status">
      <data type="NCName"/>
    </element>
  </define>
</grammar>
