library/Fisma/Inject/Nmap/grammar.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="nmaprun">
      <attribute name="args"/>
      <optional>
        <attribute name="description"/>
      </optional>
      <optional>
        <attribute name="nmap_output"/>
      </optional>
      <optional>
        <attribute name="options"/>
      </optional>
      <optional>
        <attribute name="profile"/>
      </optional>
      <optional>
        <attribute name="profile_name"/>
      </optional>
      <optional>
        <attribute name="scan_name"/>
      </optional>
      <attribute name="scanner">
        <data type="NCName"/>
      </attribute>
      <attribute name="start">
        <data type="integer"/>
      </attribute>
      <attribute name="startstr"/>
      <optional>
        <attribute name="target"/>
      </optional>
      <attribute name="version">
        <data type="decimal"/>
      </attribute>
      <optional>
        <attribute name="xmloutputversion">
          <data type="decimal"/>
        </attribute>
      </optional>
      <element name="scaninfo">
        <attribute name="numservices">
          <data type="integer"/>
        </attribute>
        <attribute name="protocol">
          <data type="NCName"/>
        </attribute>
        <attribute name="services"/>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </element>
      <element name="verbose">
        <attribute name="level">
          <data type="integer"/>
        </attribute>
      </element>
      <element name="debugging">
        <attribute name="level">
          <data type="integer"/>
        </attribute>
      </element>
      <zeroOrMore>
        <choice>
          <element name="taskbegin">
            <attribute name="task"/>
            <attribute name="time">
              <data type="integer"/>
            </attribute>
          </element>
          <element name="taskend">
            <attribute name="task"/>
            <attribute name="time">
              <data type="integer"/>
            </attribute>
          </element>
        </choice>
      </zeroOrMore>
      <oneOrMore>
        <element name="host">
          <optional>
            <attribute name="comment"/>
          </optional>
          <optional>
            <attribute name="endtime">
              <data type="integer"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="starttime">
              <data type="integer"/>
            </attribute>
          </optional>
          <element name="status">
            <optional>
              <attribute name="reason">
                <data type="NCName"/>
              </attribute>
            </optional>
            <attribute name="state">
              <data type="NCName"/>
            </attribute>
          </element>
          <oneOrMore>
            <element name="address">
              <attribute name="addr"/>
              <attribute name="addrtype"/>
              <optional>
                <attribute name="vendor"/>
              </optional>
            </element>
          </oneOrMore>
          <optional>
            <element name="hostnames">
              <empty/>
            </element>
            <element name="ports">
              <oneOrMore>
                <element name="extraports">
                  <attribute name="count">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="state">
                    <data type="NCName"/>
                  </attribute>
                  <optional>
                    <element name="extrareasons">
                      <attribute name="count">
                        <data type="integer"/>
                      </attribute>
                      <attribute name="reason">
                        <data type="NCName"/>
                      </attribute>
                    </element>
                  </optional>
                </element>
              </oneOrMore>
              <zeroOrMore>
                <element name="port">
                  <attribute name="portid">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="protocol">
                    <data type="NCName"/>
                  </attribute>
                  <element name="state">
                    <optional>
                      <attribute name="reason">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="reason_ttl">
                        <data type="integer"/>
                      </attribute>
                    </optional>
                    <attribute name="state">
                      <data type="NCName"/>
                    </attribute>
                  </element>
                  <element name="service">
                    <attribute name="conf">
                      <data type="integer"/>
                    </attribute>
                    <optional>
                      <attribute name="extrainfo"/>
                    </optional>
                    <attribute name="method">
                      <data type="NCName"/>
                    </attribute>
                    <attribute name="name"/>
                    <optional>
                      <attribute name="ostype">
                        <data type="NCName"/>
                      </attribute>
                    </optional>
                    <optional>
                      <attribute name="product"/>
                    </optional>
                    <optional>
                      <attribute name="version"/>
                    </optional>
                  </element>
                </element>
              </zeroOrMore>
            </element>
          </optional>
          <optional>
            <element name="trace">
              <optional>
                <attribute name="port">
                  <data type="integer"/>
                </attribute>
              </optional>
              <optional>
                <attribute name="proto">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <oneOrMore>
                <element name="hop">
                  <optional>
                    <attribute name="host">
                      <data type="NMTOKEN"/>
                    </attribute>
                  </optional>
                  <attribute name="ipaddr">
                    <data type="NMTOKEN"/>
                  </attribute>
                  <attribute name="rtt">
                    <data type="decimal"/>
                  </attribute>
                  <attribute name="ttl">
                    <data type="integer"/>
                  </attribute>
                </element>
              </oneOrMore>
            </element>
          </optional>
          <optional>
            <element name="times">
              <attribute name="rttvar">
                <data type="integer"/>
              </attribute>
              <attribute name="srtt">
                <data type="integer"/>
              </attribute>
              <attribute name="to">
                <data type="integer"/>
              </attribute>
            </element>
          </optional>
          <optional>
            <element name="os">
              <zeroOrMore>
                <element name="portused">
                  <attribute name="portid">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="proto">
                    <data type="NCName"/>
                  </attribute>
                  <attribute name="state">
                    <data type="NCName"/>
                  </attribute>
                </element>
              </zeroOrMore>
              <zeroOrMore>
                <element name="osclass">
                  <attribute name="accuracy">
                    <data type="integer"/>
                  </attribute>
                  <attribute name="osfamily"/>
                  <optional>
                    <attribute name="osgen"/>
                  </optional>
                  <attribute name="type"/>
                  <attribute name="vendor"/>
                </element>
              </zeroOrMore>
              <zeroOrMore>
                <element name="osmatch">
                  <attribute name="accuracy">
                    <data type="integer"/>
                  </attribute>
                  <optional>
                    <attribute name="line">
                      <data type="integer"/>
                    </attribute>
                  </optional>
                  <attribute name="name"/>
                </element>
              </zeroOrMore>
              <optional>
                <element name="osfingerprint">
                  <attribute name="fingerprint"/>
                </element>
              </optional>
            </element>
          </optional>
          <optional>
            <choice>
              <element name="distance">
                <attribute name="value">
                  <data type="integer"/>
                </attribute>
              </element>
              <group>
                <element name="uptime">
                  <attribute name="lastboot"/>
                  <attribute name="seconds"/>
                </element>
                <element name="tcpsequence">
                  <attribute name="difficulty"/>
                  <attribute name="index"/>
                  <attribute name="values"/>
                </element>
                <element name="ipidsequence">
                  <attribute name="class"/>
                  <attribute name="values"/>
                </element>
                <element name="tcptssequence">
                  <attribute name="class"/>
                  <attribute name="values"/>
                </element>
              </group>
            </choice>
          </optional>
        </element>
      </oneOrMore>
      <element name="runstats">
        <element name="finished">
          <optional>
            <attribute name="elapsed">
              <data type="decimal"/>
            </attribute>
          </optional>
          <attribute name="time">
            <data type="integer"/>
          </attribute>
          <optional>
            <attribute name="timestr"/>
          </optional>
        </element>
        <element name="hosts">
          <attribute name="down">
            <data type="integer"/>
          </attribute>
          <attribute name="total">
            <data type="integer"/>
          </attribute>
          <attribute name="up">
            <data type="integer"/>
          </attribute>
        </element>
      </element>
    </element>
  </start>
</grammar>
